body {
  font:
    16px/1.5em "Overpass",
    "Open Sans",
    Helvetica,
    sans-serif;
  color: #333;
  font-weight: 300;
}

h1 {
  color: #589632;
}

.demo {
  position: relative;
  width: 100%;
  height: 30em;
  margin: 2em 0;
  border: 1px solid #ccc;
  resize: both;
}

#layers-control {
  position: fixed;
  bottom: 0;
  right: 2em;
}

#layers-control .layers {
  width: 25em;
  padding: 0.5em;
  background-color: #ccc;
}

#layers-control .layers .layer {
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  clear: both;
}

#layers-control .layers .layer :first-child {
  margin-right: 0.5em;
}

#layers-control .layers .layer :last-child {
  float: right;
}

#js-demo-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#js-demo-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  text-align: center;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

input:focus-visible + label {
  outline: 2px solid #589632;
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: #589632;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #589632;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.tabset {
  position: relative;
  max-width: 65em;
}

.project {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 0;
}

.project > div {
  display: inline;
  padding-right: 15px;
}

#projects {
  min-width: 15em;
}
